<div class="topnav">
		<a class="active" href="/rewards_customer" style="text-decoration: none; color: #F0BECA;">Rewards</a>
		<div class="dropdown" style="float: right;">
		<i class='bx bxs-user-circle' style="font-size: 25px; color: #FBD9D9; padding-left: 5px;"></i>
			<div class="dropdown-content" style="text-align: center; right: 0; background-color: black; width: 230px; font-size: 15px;">
				<a href="/custprofile" style="color: #F0BECA;">My Profile</a><br>
				<span style="color: white;">-----------------------</span><br>
				<a href="/signout" style="color: #F0BECA;">Log Out</a><br>
			</div>
		</div>
		<div class="line float-right">|</div>
        <a href="active" class="float-right" id="cart" style="text-decoration: none; color: #F0BECA;">Cart <i class='bx bx-cart'></i></a>
		<div class="line float-right">|</div>
        <a href="active" class="float-right" id="wishlist" style="text-decoration: none; color: #F0BECA;">Wish List <i class='bx bxs-heart'></i></a>
	</div>

    <div class="midnav">
		<a class="active" href="/home2" style="text-decoration: none; color: black; font-size: 25px; font-family: Dubai;">E S T H E R</a>
        <input type="text" placeholder="Search.." class="float-right">
    </div>

	<div class="bottomnav">
	<a class="active" href="/home2" style="color: #F0BECA; text-decoration: none;">Home</a>
		<span class="bars">|</span>
	<a href="/Productpagecust" style="color: #F0BECA; text-decoration: none;">Products</a>
		<span class="bars">|</span>
	<a href="/retrieveOffCoursesCust" style="color: #F0BECA; text-decoration: none;">Courses</a>
	</div>
