<div class="topnav">
	<div class="dropdown">
	  <button class="button" ><span id="button">Sign Up / Login</span></button>
	  <div class="dropdown-content">
		  <a href="/LoginC" id="C">Customer</a>
		  <a href="/LoginS" id="S">Staff</a>
	  </div>
	</div>

	<a href="active" class="float-right" id="cart" style="color: #F0BECA; text-decoration: none;">Cart <i class='bx bx-cart'></i></a>
	<div class="line float-right">|</div>
	<a href="active" class="float-right" id="wishlist" style="color: #F0BECA; text-decoration: none;">Wish List <i class='bx bxs-heart'></i></a>
</div>

<div class="midnav" style="margin-bottom: 8px;">
	<a class="active" href="/" id="main" style="color: black; text-decoration: none; font-size:25px; ">E S T H E R</a>
	<input type="text" placeholder="Search.." class="float-right">
</div>

<div class="bottomnav">
	<a class="active" href="/" style="color: #F0BECA; text-decoration: none;">Home</a>
		<span class="bars">|</span>
	<a href="/Productpage" style="color: #F0BECA; text-decoration: none;">Products</a>
</div>
