<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <style>
    #rcorner {
      border-radius: 25px;
      border: 15px solid #707070;
      padding: 20px;
      width: 800px;
      height: 400px;
      background: #F0BECA;
      margin: auto;
      position: relative;
    }
    .content {
        position: absolute;
        left: 30%;
    }
    </style>
</head>
<body>
{% extends "base2.html" %}
{% block content %}
{% from "_formHelper.html" import render_field %}

<p style="font-family: Segoe UI; font-size: 20px;">Home > Profile > Change Email</p>
<div id="rcorner">
        <p style="font-size: 30px; font-weight: bold; font-family: Dubai; background: white; width: 180px; margin-left: 50px;"><u>Change Email:</u></p>
    <form class="content" method="POST" action="">
        {{ render_field(form.currentemail, class="form-control") }}
        {{ render_field(form.newemail, class="form-control") }}
        {{ render_field(form.confirmnewemail, class="form-control") }}
        <a href="/custprofile"><input type="button" value="Cancel" style="font-size: 25px; background-color: #F9EF67; margin-left: 60px; margin-top: 20px;"></a>
        <input type="submit" value="Submit" style="font-size: 25px; background-color: #67F9C7; margin-left: 40px;">
    </form>
</div>
{% endblock %}
</body>
</html>
