<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        #rcorner {
          border-radius: 25px;
          border: 15px solid #707070;
          padding: 20px;
          width: 800px;
          height: 400px;
          background: #F0BECA;
          margin: auto;
          position: relative;
        }
    </style>
</head>
<body>
    <div id="rcorner">
        <p style="color: #F9426E; font-size: 30px; font-family: Segoe UI; font-weight: 700; margin-left: 135px; margin-top: 80px;">You have been registered successfully!</p><br>
        <a href="/" style="color: black; font-size: 30px; font-family: Segoe UI; font-weight: 700; margin-left: 235px;">Click Here To Log In!</a>
    </div>
</body>
</html>
